---
layout: articles
title: Research
show_title: true
data_source: site.research_posts
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
article_header:
  type: overlay
  theme: dark
  background_color: '#203028'
  background_image:
    gradient: 'linear-gradient(225deg, rgba(0, 0, 0 , .4), rgba(255, 255, 255, .1))'
    src: screenshot.jpg
---

{% for item in site.posts %}
  {% if item.catagory == "research" %}
    <br>
    <br>
<h2><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>
    <p>{{ item.description }}</p>
    <br>
    <p>{{ item.tag }} <p>
    <p><a href="{{ site.baseurl }}{{ item.url }}">Read more</a></p>
    <hr style="width:100%;height:0.2px;text-align:left;margin-left:0;color:$main-color-3">
  {%- endif -%}
{% endfor %}
