---
layout: articles
title: Research
show_title: true
data_source: site.research_posts
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
article_header:
  type: overlay
  theme: dark
  background_color: '#203028'
  background_image:
    gradient: 'linear-gradient(135deg, rgba(34, 139, 87 , .4), rgba(139, 34, 139, .4))'
    src: screenshot.jpg
---
<br>
<br>
{% for item in site.posts %}
  {% if item.catagory == "research" %}
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
    <p><a href="{{ site.baseurl }}{{ item.url }}">Read more...</a></p>
    <hr />
  {%- endif -%}
{% endfor %}
