---
layout: articles
title: Writing
show_title: true
data_source: site.posts
articles:
  type: brief
  show_info: true
  excerpt_type: html
article_header:
  type: overlay
  theme: dark
  background_color: '#203028'
  background_image:
    gradient: 'linear-gradient(225deg, rgba(0, 0, 0 , .4), rgba(255, 255, 255, .1))'
    src: screenshot.jpg
---

{% for item in site.posts %}
  {% if item.catagory == "writing" %}
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
    <p><a href="{{ site.baseurl }}{{ item.url }}">Read more...</a></p>
  {%- endif -%}
{% endfor %}
